.input-contain {
  position: relative;
  border-radius: 0.5rem;
  .icon {
    background-color: transparent;
    position: absolute;
    top: 0.5rem;
    left: 0.3rem;
  }
  input {
    text-align: start;
    padding-left: 1rem;
    padding-top: 0.5rem;
    height: 2.5rem;
    width: 100%;
    background-color: v-bind(backgroundColor);
    border: 1px solid;
    border-color: v-bind(borderColorComputed);
    border-radius: 0.5rem;
    &:hover:not(:focus) + .text,
    &:hover:not(:focus) {
      @media (pointer: fine) {
        filter: brightness(95%);
      }
    }
    &:focus {
      border-width: 2px;
    }
    &:disabled,
    &:disabled + .text,
    &:disabled:hover,
    &:disabled:hover + .text {
      filter: brightness(85%);
      cursor: default;
    }
  }
  input + .text {
    align-items: center;
    position: absolute;
    top: 0.5rem;
    bottom: 0;
    left: 0;
    height: min-content;
    display: flex;
    color: gray;
    pointer-events: none;
    font-size: 1rem;
    padding: 0 0rem;
    margin: 0 0.6rem;
    transform: translate(0);
    border-radius: 0.5rem;
    transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out, 0.15s padding ease-in-out;
  }
  input:focus + .text,
  input.dirty + .text {
    background-color: inherit;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    font-size: 0.9rem;
    padding-inline: 0.3rem;
    color: black;
    transform: translate(0, -1rem);
    height: 0.9rem;
  }
}

// add * to input label if the input is required
input[required] + label {
  padding-right: 0.5rem !important;
  &::after {
    content: '*';
    position: relative;
    left: 0.3rem;
  }
}
