.sideButton {
  border: none;
  background-color: transparent;
}
.sideInput {
  border-radius: 0 0.5rem 0.5rem 0;
  border-width: 1px;
  border-color: v-bind(borderColorComputed);
  border-style: solid;
  border-left: none;
  background-color: inherit;
  &:focus {
    border: 2px solid;
    border-color: v-bind(borderColorComputed);
  }
}
.sideButton,
.sideInput {
  align-items: center;
  text-align: center;
  position: absolute;
  padding: 0;
  top: 0;
  bottom: 0;
  left: v-bind(inputWidth);
  right: 0;
  width: v-bind(sideWidthComputed);

  justify-content: center;
  outline: none;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
