.sideButton {
  border: none;
  background-color: transparent;
}
.sideInput {
  border-radius: 0 0.5rem 0.5rem 0 !important;
  border-width: 1px;
  border-color: v-bind(borderColorComputed);
  border-style: solid;
  border-left: none;
  padding-top: 0 !important;
  background-color: v-bind(backgroundColor);
  &:focus {
    border: 2px solid;
    border-color: v-bind(borderColorComputed);
  }
}
.sideButtonSelect,
.sideButton,
.sideInput {
  text-align: center;
  position: absolute;
  padding: 0;
  top: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  outline: none;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  max-height: 2.5rem;
}
