.selectInput {
  transform: translateZ(0);
}
.mbd-modal-body .selectInput,
.modal-content .selectInput {
  transform: none;
}
.simple-typeahead {
  & > input {
    margin-bottom: 0;
  }

  .simple-typeahead-list {
    position: fixed;

    max-height: 60vh;
    overflow-y: scroll;

    @media (min-width: 900px) {
      max-height: 30vh;
    }
    background-color: #fafafa;
    border-radius: 0 0 0.5rem 0.5rem;
    border: 2px solid;
    border-color: v-bind(borderColorComputed);
    border-top: none;
    z-index: 2;
    cursor: pointer;

    .simple-typeahead-list-item {
      border-bottom: 1px solid;
      border-color: v-bind(borderColorComputed);
      padding: 0.6rem 1rem;
      background-color: #fafafa;

      &:hover {
        @media (pointer: fine) {
          filter: brightness(95%);
        }
      }

      &:last-child {
        border-bottom: none;
        border-radius: 0 0 0.5rem 0.5rem;
      }
    }

    &::-webkit-scrollbar-track {
      border-radius: 0 0 0.5rem 0;
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      width: 0.5rem;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0.5rem;
      background-color: #555;
    }
  }
}
